body .primary {
	border-color: #fa5596 !important;
	background-color: #fa5596;
	background: linear-gradient(141deg, #c624a4 0%, #fb7e71 51%, #fa5795 75%);
	transition: 0.5s;

	&:hover {
		background: linear-gradient(141deg, #c624a4 0%, #fb7e71 51%, #fa5795 75%);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
	}
}

// SelectButton
body .p-selectbutton .p-button.p-highlight {
	background-color: #fa5596;
	border-color: #fa5596;
}
