@import './fonts.scss';

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import './button.scss';

// Loader...
.Loader {
	z-index: 9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 225px;
	max-height: 225px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;

	.loading {
		animation: rotation 1.5s infinite linear;
		border: 3px solid rgba(255, 255, 255, 0.2);
		border-radius: 50%;
		border-top-color: rgba(197, 36, 164, 0.65);
		height: 100%;
		width: 100%;
		position: absolute;
	}

	img {
		width: 50%;
		height: 50%;
	}
}

@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}
// ...loader
